@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.links {
    display: flex;
    gap: 2rem;
    margin: 0;
}

.links > li {
    list-style: none;
}

.links > li > a {
    text-decoration: none;
}